.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-group{
    padding: 0 5px 0 5px;
}
.btn-size{
    width: 70px;
    height: 70px;
    justify-content: center;
}